# Title: DM1590 Final Project Template

## Authors:

---

### Background and motivation

Describe your problem and why it is interesting and important.

### Dataset

Describe what dataset you are using.

### Methodology

Describe what you are doing and how you are doing it.

---

In [4]:
"""Import modules"""
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
"""Import the dataset"""
df = pd.read_csv(r"./data\apartments_for_rent_classified_10K.csv",sep=';',header=None, encoding="cp1252")
print(df)

               0                       1   \
0              id                category
1      5668626895  housing/rent/apartment
2      5664597177  housing/rent/apartment
3      5668626833  housing/rent/apartment
4      5659918074  housing/rent/apartment
...           ...                     ...
9996   5630240092  housing/rent/apartment
9997   5668640983  housing/rent/apartment
9998   5668643292  housing/rent/apartment
9999   5668662559  housing/rent/apartment
10000  5509132540  housing/rent/apartment

                                                      2   \
0                                                  title
1      Studio apartment 2nd St NE, Uhland Terrace NE,...
2                      Studio apartment 814 Schutte Road
3      Studio apartment N Scott St, 14th St N, Arling...
4                         Studio apartment 1717 12th Ave
...                                                  ...
9996                  Five BR 5407 Abbott Place - Abbott
9997                             Six BR 256 Las Entradas
9998                         Six BR 9908 Bentcross Drive
9999                         One BR in New York NY 10069
10000         Beautiful Lawrenceville Apartment for rent

                                                      3   \
0                                                   body
1      This unit is located at second St NE, Uhland T...
2      This unit is located at 814 Schutte Road, Evan...
3      This unit is located at N Scott St, 14th St N,...
4      This unit is located at 1717 12th Ave, Seattle...
...                                                  ...
9996   This unit is located at 5407 Abbott Place - Ab...
9997   This unit is located at 256 Las Entradas, Mont...
9998   This unit is located at 9908 Bentcross Drive, ...
9999   Monthly Rent$4,605 -to $4,790AmenitiesThe Aldy...
10000  Square footage: 880 sq. feet, unit number: 150...

                                                      4          5         6   \
0                                              amenities  bathrooms  bedrooms
1                                                    NaN        NaN         0
2                                                    NaN        NaN         1
3                                                    NaN          1         0
4                                                    NaN          1         0
...                                                  ...        ...       ...
9996                                                 NaN          4         5
9997                                                 NaN          8         6
9998                                                 NaN        8.5         6
9999   Basketball,Cable or Satellite,Doorman,Hot Tub,...        NaN         1
10000                                     Gym,Patio/Deck          1         1

             7    8          9   ...             12          13           14  \
0      currency  fee  has_photo  ...  price_display  price_type  square_feet
1           USD   No  Thumbnail  ...           $790     Monthly          101
2           USD   No  Thumbnail  ...           $425     Monthly          106
3           USD   No  Thumbnail  ...         $1,390     Monthly          107
4           USD   No  Thumbnail  ...           $925     Monthly          116
...         ...  ...        ...  ...            ...         ...          ...
9996        USD   No  Thumbnail  ...         $6,000     Monthly         6300
9997        USD   No  Thumbnail  ...        $25,000     Monthly         8716
9998        USD   No  Thumbnail  ...        $11,000     Monthly        11318
9999        USD   No  Thumbnail  ...         $4,790     Monthly        40000
10000       USD   No         No  ...         $1,009     Monthly          880

                              15             16     17        18         19  \
0                        address       cityname  state  latitude  longitude
1                            NaN     Washington     DC   38.9057   -76.9861
2                 814 Schutte Rd     Evansville     IN   37.9680   -87.6621
3                            NaN      Arlington     VA   38.8910   -77.0816
4               1717 12th Avenue        Seattle     WA   47.6160  -122.3275
...                          ...            ...    ...       ...        ...
9996   5407 Abbott Place  Abbott          Edina     MN   44.9000   -93.3233
9997            256 Las Entradas      Montecito     CA   34.4331  -119.6331
9998           9908 Bentcross Dr        Potomac     MD   39.0287   -77.2409
9999                         NaN       New York     NY   40.7716   -73.9876
10000                        NaN  Lawrenceville     GA   34.0072   -84.0034

                 20          21
0            source        time
1         RentLingo  1577359415
2         RentLingo  1577017063
3         RentLingo  1577359410
4         RentLingo  1576667743
...             ...         ...
9996      RentLingo  1575112975
9997      RentLingo  1577360419
9998      RentLingo  1577360560
9999       Listanza  1577362186
10000  RentDigs.com  1577362141

[10001 rows x 22 columns]

---
## Discussion

Reflect on your results, and how one might continue to improve them.

## Acknowledgments

For each group member, describe what they did.

## Final meme

Include here a meme describing your experience in this module.